
img.classmate {
    border-radius: 5px;
}
a.classmate {
    width: 100%;
    margin-top: 2px;
    background-color: rgb(44, 62, 80);
    color: #1abc9c;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    background-color: rgb(110, 20, 151);
}

.btn-primary.disabled {
    background-color: rgb(110, 20, 151);
    border-color: rgb(110, 20, 151);
}
.bg-secondary {
    background-color: rgb(78, 182, 241);
}
.portfolio .portfolio-item .portfolio-item-caption {
    background-color: rgb(110, 20, 151);
}
.btn-primary {
    background-color: rgb(110, 20, 151);
    border-color: rgb(110, 20, 151);
}
h4  {
    text-align: center;
}
#dungeon {
    height: 50%;
}
.masthead-avatar {
    border-radius: 1000px;
}
a.modalbtn {
    background-color: rgb(44, 62, 80);
    color: #1abc9c;
}
@media (max-width: 991px) {
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        background-color: unset;
}}
